@using Microsoft.AspNetCore.Identity
@using SchoolManager.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "";
}

<div class="text-center">
	<h1 class="display-4">Welcome to <b>School Manager</b></h1>
	@{
		var user = await UserManager.GetUserAsync(User);
		if (string.IsNullOrEmpty(user.FirstName))
		{
			<h3>Please fill your information in <a href="User/Information" class = "danger">here</a></h3>
		}
	}
	@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
