@model SchoolManager.Core.Models.SchoolViewModel

@{
    ViewData["Title"] = "Update School Info";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSchoolInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
	        <div class="form-group">
		        <label asp-for="ImageUrl" class="control-label"></label>
		        <input asp-for="ImageUrl" class="form-control" placeholder="https://website.com/image.jpg" />
		        <span asp-validation-for="ImageUrl" class="text-danger"></span>
	        </div>
	        <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
