@model StudentListViewModel

@{
	ViewData["Title"] = "Add a mark to a student";
}


<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				Student Name
			</th>
			<th>
				Marks
			</th>
			<th>
				Add a mark
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model.Students)
		{
			<tr>
				<th>
					@student.FullName
				</th>
				<th>
					@{
						string mark = string.Join(", ", student.Marks);
					}
					<div class="row">
						@mark
					</div>
				</th>
				<th>
					<form asp-action="AddToRole" method="post">
						<asp:DropDownList id="Mark"
									  OnSelectedIndexChanged="Selection_Change"
									  runat="server">

							<asp:ListItem Selected="True" Value="6"> 6 </asp:ListItem>
							<asp:ListItem Value="5"> 5 </asp:ListItem>
							<asp:ListItem Value="4"> 4 </asp:ListItem>
							<asp:ListItem Value="3"> 3 </asp:ListItem>
							<asp:ListItem Value="2"> 2 </asp:ListItem>

						</asp:DropDownList>
					</form>

				</th>
			</tr>
		}
	</tbody>
</table>