@using SchoolManager.Core.Constants
<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!-- Add icons to the links using the .nav-icon class
		with font-awesome or any other icon font library -->
		<li class="nav-item">
			@{
				string path = User.IsInRole(UserConstants.Roles.Administrator) ? "/Admin/Home/UpdateSchoolInfo" : "School/Info";

				<a href="@path" class="nav-link">
					<i class="fas fa-school"></i>
					<p>
						School
					</p>
				</a>
			}
		</li>
	</ul>
</nav>