@using SchoolManager.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@model StudentMarksViewModel

@{
	var user = await UserManager.GetUserAsync(User);
	string names = $"{user.FirstName} {user.LastName}";
	ViewData["Title"] = $"{names}'s marks";
}
<table class="table table-bordered">
	<thead>
	<tr>
		<th>
			Subject
		</th>
		<th>
			Marks
		</th>
		<th>
			Avg. Mark
		</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var mark in Model.Marks)
	{
		<tr>
			<th>
				@mark.Subject
			</th>
			<th>
				<div class="row">
					@string.Join(", ", mark.Marks)
				</div>
			</th>
			<th>
				@(mark.AvgMark.ToString("f2"))
			</th>
		</tr>
	}
	</tbody>
</table>